._toolbar-fixed .page-content {
    padding-bottom: 48px;
}

/*
.searchbar-overlay {
	display: none !important;
}
*/

.close-recept {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 25px;
}

.recept-card-header-pic {
	border-bottom: 1px solid #eee;
	display: block;
}

.recept-card-header-pic .card-header {
	height: 55vw;
	background-size: cover;
	background-position: center;
	text-shadow: 0 0 8px #000;
}
